<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:mvc="http://www.springframework.org/schema/mvc" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
						http://www.springframework.org/schema/beans 
	                    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd     
	                    http://www.springframework.org/schema/aop     
	                    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd     
	                    http://www.springframework.org/schema/tx      
	                    http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
	                    http://www.springframework.org/schema/context
    					http://www.springframework.org/schema/context/spring-context-3.0.xsd">
    <bean id="mapAndListTestBean" name="mapAndListTestBean" class="com.mine.learn.spring.MapAndListTestBean">
    	<property name="mapValues">
    		<map key-type="java.lang.String" value-type="java.lang.String">
    			<entry key="str1" value="hello" />
    			<entry key="str2" value="world" />
    		</map>
    	</property>
    	<property name="listValues">
    		<list value-type="java.lang.String">
    			<value>you</value>
    			<value>are</value>
    			<value>the</value>
    			<value>best</value>
    		</list>
    	</property>
    </bean>
</beans>