<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<context-param>
		<param-name>webAppRootKey</param-name>
		<param-value>mine-simpler-frontend</param-value>
	</context-param>
	<display-name>mine-simpler-frontend</display-name>
	
	<!-- servet-spring -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/spring-dispatcher.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<!-- servet-hessian -->
	<!-- <servlet>
		<servlet-name>hessian-service</servlet-name>
		<servlet-class>com.caucho.remoting.server.HessianServlet</servlet-class>
		<init-param>
			<param-name>home-class</param-name>
			<param-value>com.mine.simpler.frontend.remoting.HelloServiceImpl</param-value>
		</init-param>
		<init-param>
			<param-name>home-api</param-name>
			<param-value>com.mine.simpler.frontend.remoting.HelloService</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hessian-service</servlet-name>
		<url-pattern>/hessian</url-pattern>
	</servlet-mapping> -->
	<!-- spring-hessian -->
	<servlet>
		<servlet-name>hessian-service</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>classpath:META-INF/hessian-servlet.xml</param-value>
		</init-param>
	</servlet>
	<servlet-mapping>
		<servlet-name>hessian-service</servlet-name>
		<url-pattern>/hessian/*</url-pattern>
	</servlet-mapping>

	
	<!-- 设置session失效，单位分钟 -->
	<session-config>
		<session-timeout>600</session-timeout>
	</session-config>
	

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
</web-app>
